body {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-align: center;
background-image:url(images/clover_bkgd.png);
margin: 20px 0 20px 0;
}

p, ul, ol {
     margin: 0 0 1.4em 0;
     padding: 0px;
     font-size: 1.5em;
     font-weight: bold;
     line-height: 1.5em;
     color: #000;
}

h2 { 
     font-size: 25px; 
     margin: 0 0 0.5em 0;
     padding: 0; 
     color: white;  
     
}

a:link, a:visited, a:active {
    color: #cc0000;
    font-size: 11px;
    text-decoration: none;
}

a:hover {
     color: #cc0000; 
     text-decoration:underline;
}

#main {
margin: 0;
padding: 0;
font-size: 14px;
font-weight: bold;
padding: 1.2em;
}

#main p {
    float: right;
}

#navlist li{
display: inline;
list-style-type: none;
margin: 0; padding: 0;
}

#navlist a { padding: 1em; margin: 0;}

#navlist a:link, #navlist a:visited
{
color: #fff;
text-decoration: none;

}

#navlist a:hover
{
color: #000;
background-color: #FFF;
text-decoration: none;
}

#page {
    width: 640px;
    margin: 0 auto;
    text-align: left;
    border:1px solid #222;
    background-color: #ffffff;
    
}

#page_padding {
     margin: 15px;
}

#header {
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    background: #78AB46 url(images/logo.png) top right no-repeat;
}

#header_left {
     float:left;
     width: 500px;
     padding-top: 35px;
	 padding-left: 20px;
     border:0px dashed #FFFFFF;
}

#header_right {
     float:right;
     width: 220px;
     padding: 35px 35px 30px 30px;
     border:0px dashed #FFFFFF;
     background: transparent;
}

#header_right p {
     text-align:center;
     padding: 0;
     margin: 0;
}

#menu {
padding: 0; background: url(images/buttons.jpg) repeat-x; margin: 0; 
}

#left{
padding: 10px;
width: 180px;
padding-right: 1em;
}

#left H3
{
text-align: center;
width: 165px;
height: 25px;
font-size: 14px;
font-weight: bold;
padding-left: 15px;
padding-top: 15px;
margin: auto;
text-transform: uppercase;
color: #ffffff;
background: url(images/small.jpg) no-repeat;
}

#left ul {
     text-align: center;
	list-style: none;
	border-bottom: 1px solid #629351;
	border-left: 1px solid #629351;
	border-right: 1px solid #629351;
}

#left li ul {
	border: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
}
#right{
text-align: center;
float: right;
width: 380px;
padding-right: 10px;
}

#right H4{
margin: 0;
padding: 0px;
font-size: 12px;
color: #3a7100;
}

#right h2 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #3a7100;
}

#right a
{
color: #3a7100;
text-decoration: none;
}

#right p {
margin: 0;
padding: 0;
padding-bottom: 10px;
font-size: 12px;
}

#footer { 
padding-top: 15px;
background: url(images/buttons.jpg);
height: auto;
text-align: center;
color: #ffffff;
margin: 0;
padding: 0;
font-size: 10px;
}
ul li{
    font-size: 15px;
}



.spacer { clear: both; }

